<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamwork.example">
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:name=".ExampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/example_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/example_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Example">
        
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/Example"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
    
        <activity
            android:name=".activity.ProjectActivity"
            android:theme="@style/Example"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        
    </application>

</manifest>